<div class="home">
  <div class="jumbotron centered">
    <h1>Task Central</h1>
    <h2 ng-show="jwt">Your User's Session, represented as a JWT is:</h2>
    <pre ng-show="jwt" class="jwt"><code>{{jwt}}</code></pre>
    <pre ng-show="jwt" class="jwt"><code>{{decodedJwt | json}}</code></pre>
    <p>Click a button to call that api route and get back some json </p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="getAllTasks()">Get All Tasks</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="getMyTasks()">Get My Assigned Tasks</a></p>

    <!-- <div ng-if="isAdmin"> -->
        <p><a class="btn btn-primary btn-lg" role="button" ng-click="getAdminTasks()">Get Unassigned Tasks</a></p>
    <!-- </div> -->

    <h2 ng-show="response">The response of calling the <span class="red">{{api}}</span> API is:</h2>

    <table ng-if="response" class="table-bordered">
      <tr> 
        <th> Task Id    </th>
        <th> Task Name </th>
        <th> Start Time  </th>
        <th> End Time    </th>
        <th> Assigned User </th>
      </tr>
      <tr ng-repeat="task in response">
        <td>{{ task.taskid }}</td>
        <td>{{ task.taskname }}</td>
        <td>{{ task.starttime }}</td>
        <td>{{ task.endtime }}</td>
        <td> {{ task.uid }} </td>
      </tr>
    </table>
    <div ng-if="error" class="alert alert-warning">
      <p> {{ error }} </p>
    </div>
  </div>


</div>
